<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KurtVerheyenRechtenProject.DAL.Properties.Settings.CN"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=&quot;&quot;;Initial Catalog=KV_Rechten;Data Source=KURT-PC;" />
    </connectionStrings>
</configuration>